<h1>Kalkulator spalanych kalorii podczas różnych aktywności</h1>


<form action="spalanie-wynik/" method="post">
    {% csrf_token %}
    <select name="czynnosc">
        {% for cz in wszystkieczynnosci %}
            <option value="{{ cz.met }}">{{ cz.nazwa }}</option>
        {% endfor %}
    </select><br><br>
    Czas wykonywania aktywności [min]: <input type="text" name="czas"><br><br>
    Masa ciała [kg]: <input type="text" name="masa"><br>
    <input type="submit" value="Oblicz" name="oblicz"><br><br>
    <h2>
        Podczas swojej aktywności spaliłeś / spaliłaś: {{ spalane_kalorie }}
    </h2>
</form>
