{% load staticfiles %}
<html>
    <head>
        <title>Aplikacja-Zdrowie</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div id="side">
            <header class="page-header">
                <h1>
                    <a href="{% url 'main:index' %}" title="Strona główna">Aplikacja-Zdrowie</a>
                </h1>
                <naw class="list">
                    <ul>
                        <li>
                            <a href="{% url 'calcs:bmi' %}" title="Kalulator BMI">Kalulator BMI</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:bmr' %}" title="Kalulator BMR">Kalulator BMR</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:makro' %}" title="Kalulator makroskładników">Kalulator makroskładników w diecie</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:spalanie' %}" title="Kalulator spalanych kalorii">Kalulator spalanych kalorii</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:tluszcz' %}" title="Kalulator zawartości tłuszczu w organiźmie">Kalulator zawartości tłuszczu w organiźmie</a>
                        </li>
                    </ul>
                </naw>
            </header>
            <div class="main">
                 <form action="{% url 'calcs:tluszcz_wynik' %}" method="post">
                    {% csrf_token %}
                    <h1>Kalkulator procentowej zawartości tkanki tłuszczowe w organiźmie</h1>
                    <br>
                    <br>
                    Płeć:<br>
                    <input type="radio" name="plec" value="0">Mężczyzna<br>
                    <input type="radio" name="plec" value="1">Kobieta<br>
                    Masa ciała [kg]: <input type="text" name="masa"><br>
                    Obwód pasa [cm]: <input type="text" name="op"><br>
                    <input type="submit" value="Oblicz TT" name="oblicz"><br><br>
                    <h2>
                        Zawartość tkanki tłuszczowej w Twoim organiźmie wynosi: <font color="blue"> {{ TT_wynik }} </font>
                    </h2>
                </form>
            </div>
        </div>
        <footer>
            <strong>&copy; Powered by JJ and KO</strong>
        </footer>
    </body>
</html>
