<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Aplikacja-Zdrowie</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>
    <body>
        <div id="side">
            <header class="page-header">
                <h1>
                    <a href="{% url 'main:index' %}" title="Strona główna">Aplikacja-Zdrowie</a>
                </h1>
                <naw class="list">
                    <ul>
                        <li>
                            <a href="{% url 'calcs:bmi' %}" title="Kalulator BMI">Kalulator BMI</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:bmr' %}" title="Kalulator BMR">Kalulator BMR</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:makro' %}" title="Kalulator makroskładników">Kalulator makroskładników w diecie</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:spalanie' %}" title="Kalulator spalanych kalorii">Kalulator spalanych kalorii</a>
                        </li>
                        <li>
                            <a href="{% url 'calcs:tluszcz' %}" title="Kalulator zawartości tłuszczu w organiźmie">Kalulator zawartości tłuszczu w organiźmie</a>
                        </li>
                    </ul>
                </naw>
            </header>
            <div class="main">
                <header>
                    <h2>Nowości</h2>
                </header>
                <article>
                    <p>
                        Zdążyłeś już zapomnieć o swoich noworocznych postanowieniach? Niedobrze. Ale nie wszystko jeszcze stracone! Pomożemy Ci sformułować realistyczne cele,
                        zaplanować właściwą strategię i w końcu dopiąć swego. Tym razem swoich obietnic dotrzymasz!
                        Użyj naszych kalkulatorów aby dokładnie sprawdzić stan swojej sylwetki, ocenić zapotrzebowanie kaloryczne i ostatecznie pomóc sobie w ustaleniu odpowiedniej,
                        zbilansowanej diety. Życzymy przyjemnego użytkowania i polecajcie naszą stronę swoim znajomym.
                    </p>
                </article>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'login' %}">Zaloguj się</a>
        <a href="{% url 'logout' %}">Wyloguj się</a>
        <footer>
            <strong>&copy; Powered by JJ and KO</strong>
        </footer>
    </body>
</html>
